body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Gilroy','Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.background {
  background: rgb(236, 236, 236);
}

.purchase-page {
  padding-top: 40px;
  padding-bottom: 40px;
}

.qty {
  display: flex;
  justify-content: center;
  align-items: center;
}

.title {
  padding-top: 20px;
  padding-bottom: 20px; 
}

.bottom-list {
  padding-top: 40px;
  padding-bottom: 40px;
  display: flex;
  justify-content: space-between;
  
}

.qty-block {
  padding-left: 15px;
  padding-right: 15px;
  border: solid 1px grey;
  border-radius: 6px;
}

.button {
  background: rgba(0,0,0,0);
  border: 0px;
}

.price-and-delete-button {
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

.delete-button {
  padding: 0px;
}

.reference-code {
  color: grey;
  font-size: 5px;
}

.food-image {
  height: 100%;
  width: 100%;
}

.food-name {
  display: flex;
  align-items: center;
}

.item-name {
  flex: 1;
}

.sub-total-name {
  color: grey;
  font-size: 5px;
}

.item {
  padding-top: 40px;
  padding-bottom: 40px;
  border-bottom: solid 1px rgb(207, 207, 207);
}

.price-and-symbol {
  display: flex;
  justify-content: center;
  align-items: center;
}

.currency-symbol {
  position: relative;
  top: -8px;
  font-size: 5px;
}

.price {
  display: flex;
}

.continue-shopping {
  display: flex;
  align-items: center;
  font-size: 5px;
}

.arrow {
  display: flex;
  align-items: center;
}

.sub-total {
  display: flex;
  align-items: flex-end;
}

.price-size {
  font-size: 20px;
}

.credit-card-background {
  margin-left: 20px;
  padding-top: 20px;
  padding-bottom: 20px;
  padding-left: 30px;
  padding-right: 30px; 
  background: rgba(17, 17, 17, 0.74);
  color: white;
  border-radius: 10px;
}

.rccs{
  width: 290px;
}

.card-type {
  padding-top: 20px;
}

.card-input {
  padding-top: 10px;
  padding-bottom: 10px;
}

input.form-control {
  background: black;
  color: white;
  border-radius: 10px;
}

input.form-control:focus {
  background: black;
  color: white;
}

.check-out-button {
  padding-top: 20px;
  padding-bottom: 10px;
}

.subtotal-size {
  font-size: 5px;
  color: grey;
}

.card-title {
  font-size: 5px;
  color: rgb(212, 205, 205);
  padding-left: 5px;
}

.check-out-size {
  font-size: 15px;
}

.wrong-card-message{
  color: rgb(252, 70, 70);
  font-size: 8px;
}

.shopping-cart {
  margin-left: 20px;
  margin-right: 40px;
}

.select-card-type {
  margin-top: 30px;
  display: flex;
  justify-content: space-around;  
}

.change-card-type {
  position: relative;
  left: -35px;
  top: 70px;
}

.credit-card-details {
  margin-top: 10px;
  margin-bottom: 10px;
  display: flex;
  justify-content: space-around;
}

.select-card-message {
  margin-top: 20px;
  text-align: center;
}
